.form {
  display: flex;
}

.form__col {
  flex: 1;
  margin-right: rem(20px);
}
.form__col:last-child {
  margin-right: 0;
}

.form__col {
  margin-right: rem(27px);
}

.form__row {
  display: flex;
  margin-bottom: rem(18px);
}

.form__block {
  flex: 1;
  margin-right: rem(20px);
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  font-size: rem(14px);
  font-family: Open Sans;
  width: 100%;
  padding: rem(18px) rem(11px);
  border: solid rem(3px) transparent;
  border-radius: rem(4px);
}
.form__input--textarea {
  height: rem(152px);
  resize: none;
}
.form__input:focus {
  border-color: #dee2bd;
  outline: none;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
}