.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logo__pic {
  max-width: none;
}

.menu {
  margin: 0 30px;
  padding-top: 5px;

  @include tablets {
    display: none;
  }

  @include phones {
    display: none;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  white-space: nowrap;
  flex-wrap: wrap;
  justify-content: center;
}

.menu__item {
  margin-right: rem(28px);
  margin-bottom: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  text-decoration: none;
}

.phone-number {
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-shrink: 0;

  &:hover {
    color: #497870;
  }
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }


  @include phones {
    display: none;
  }
}

.phone-number__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(14px);
  height: rem(14px);
  flex-shrink: 0;
  margin-right: rem(5px);
}

.phone-number__icon-elem {
  max-width: 100%;
  max-height: 100%;
}