.order-section {
  background-image: url(../img/decor/order-bg.png);
  background-size: cover;
}
.order-section:before {
  position: absolute;
  bottom: 69px;
  left: 3%;
  content: url(../img/decor/order-small-berry.png);
}
.order-section:after {
  position: absolute;
  bottom: 58px;
  right: 0.5%;
  content: url(../img/decor/order-leaf.png);
}