$conteaierWidth: 942px;
$baseFontSize: 18px;

// colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;


// normalize
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");

// setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');
@import "leyout";

// components
@import "hero";
@import "header";
@import "features";
@import "feature";
@import "btn";
@import "section";
@import "headline";
@import "benefits";
@import "benefit";
@import "benefits__section";
@import "reviews";
@import "interactive-avatar";
@import "order-section";
@import "form";
@import "radio";
@import "fixed-menu";