.order-section {
  background-image: url(/CHOCCO/img/decor/order-bg.png);
  background-size: cover;
}

.order__container {

  @include tablets {
    
  }

  @include phones {
    
  }

  &:before {
    content: '';
    position: absolute;
    bottom: rem(-10px);
    left: -2%;
    background: url(/CHOCCO/img/decor/order-small-berry.png) center center / contain no-repeat;
    width: rem(48px);
    height: rem(48px);
  }

  &:after {
    content: '';
    position: absolute;
    bottom: rem(-35px);
    right: -4%;
    background: url(/CHOCCO/img/decor/order-leaf.png);
    width: rem(136px);
    height: rem(190px);
  }

  &:before, &:after {
    
    @include tablets {
      display: none;
    }
  }
}