.slider__section {
  background: #F8FAF9;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background: url(/img/decor/leaf-3.png) right / contain no-repeat;
    top: 80%;
    right: 0%;
    width: rem(152px);
    height: rem(352px);
  }
  
  &:after {
    content: '';
    position: absolute;
    background: url(/img/decor/blueberry.png) right / contain no-repeat;
    top: 97%;
    right: 0%;
    width: rem(104px);
    height: rem(86px);
  }

}

.sliders__arrow {
  margin-left: rem(10px);
  stroke: black;

  &:last-child {
    margin-right: rem(10px);
  }
}

.slider {

  &__container {
    display: flex;
    position: relative;
    top: 3%;
  }

  &__list {
    display: flex;
    position: relative;
    will-change: right;

    &-wrap {
      overflow: hidden;
      display: flex;

      .bx-wrapper {
        margin: 0 auto;
        border: 0;
        background: transparent;
        box-shadow: none;
      }
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    z-index: 10;
    transform: translate(50%, 0);

    &-right {
      right: 2%;
    }

    &-left {
      left: -3%;
    }
  }

  &__img {
    margin: auto;
  }
}

.slide {
  display: flex;
  width: rem(960px);

  @include tablets {
    flex-direction: column;
  }

  &__info {
    width: 40%;
    display: flex;
    flex-direction: column;

    @include tablets {
      width: 100%;
      align-items: center;
      text-align: center;
    }
  }

  &__details {
    width: rem(91px);
    height: rem(91px);
    background: #86C3D7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    fill: #fff;
    margin-bottom: rem(23px);
    position: relative;

    @include tablets {
      display: none;
    }

    &-window-close {
      margin-bottom: 4px;
    }

    &-title {
      color: #fff;
      text-transform: uppercase;
      font-size: rem(14px);
      font-weight: bold;
    }
  }

  &__title {
    font-size: rem(36px);
    font-weight: bold;
    color: #292929;
    text-transform: uppercase;
  }

  &__desc-text {
    color: #666666;
    margin-bottom: rem(24px);
  }

  &__values-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: rem(24px);

    &.ccal-row {
      margin-right: rem(44px);
      flex-direction: column;
    }

    &.weigth-row {
      flex-direction: column;
    }

    @include tablets {
      justify-content: center;
    }
  }

  &__values-number {
    color: #000;
    font-weight: bold;
  }

  &__value-row {
    position: relative;
    align-items: center;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  
    @include tablets {
      justify-content: center;
    }
  }

  &__btn {
    position: relative;
    width: rem(156px);
    height: rem(60px);
  }

  &__price {
    font-size: rem(60px);
    font-weight: r300;
    color: #000;

    @include tablets {
      margin-right: rem(30px);
    }
  }

}

.slide__structure {
  position: absolute;
  min-width: rem(273px);
  left: -9999px;
  opacity: 0;
  top: 0;
  background-color: #f3f3f3;
  font-size: 16px;
  line-height: rem(24px);
  padding: rem(12px) rem(15px);
  border-radius: 4px;
  transition: opacity 0.3s ease-out;
}

.slide__structure-row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.slide__structure-img {
  width: 32px;
  height: 32px;
  fill: #000;
  flex-shrink: 0;
  margin-right: rem(16px);
}

.slide__structure-weigth {
  margin-left: auto;
}

.slide__details:hover .slide__structure {
  left: 100%;
  opacity: 1;
}