.team__section {
  &:before {
    content: "";
    position: absolute;
    background: url(/img/decor/strawberry-2-team.png) left bottom / contain no-repeat;
    width: rem(104px);
    height: rem(114px);
    z-index: 100;
    left: 4%;
    bottom: -305%
  }
}

.team {
  display: flex;
  align-items: flex-start;

  &.team--version--desctop {
    @include tablets {
      display: none;
    }
  }

  &__item {
    position: relative;
    flex: 1;
    margin-right: 2%;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }

    @include tablets {
      position: unset;
      margin-right: 0;
      margin-bottom: rem(12px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__member {
    display: flex;
    margin-bottom: rem(21px);
    justify-content: center;

    &-pic {
      left: 0;
      top: 0;
      width: 100%;
      max-width: rem(220px);
      max-height: rem(290px);
    }
  }

  &__title {
    display: inline-block;
    border: none;
    background-color: #fff;
    text-align: center;
    outline: none;
    margin-bottom: rem(8px);
    font-size: rem(21px);
    font-weight: bold;

    &:before {
      content: '\25BC';
      float: right;
      position: relative;
      right: -6%;
      transition: transform .35s;
      color: #365A49;
      top: rem(4px);
      font-size: rem(12px);
    }

    &--active:before {
      transform: rotate(180deg);
    }
  }

  &__content {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    height: 0;
    transition: height .3s;

    @include tablets {
      position: unset;
    }

    &-role {
      color: #000;
      margin-bottom: rem(4px);

      @include tablets {
        font-weight: bold;
      }
    }

    p {
      color: #666666;
      font-weight: 300;
    }
  }
}

.team--version--mobile {
  display: none;

  @include tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}