.video-section {
  align-items: center;
  background: url(/img/decor/bg-leaf.png) right 20% top 20% no-repeat #F8FAF9;

  @include tablets {
    background: url(/img/decor/bg-leaf.png) right 5% top 30% no-repeat #F8FAF9;
  }

  &:before {
    content: "";
    background: url(/img/decor/before-leaf.png) left bottom / contain no-repeat;
    ;
    z-index: 100;
    width: rem(72px);
    height: rem(135px);
    position: absolute;
    left: 20%;
    bottom: -590%;

    @include tablets {
      left: -3%;
    }
  }

  &:after {
    content: "";
    background: url(/img/decor/after-leaf.png) center center / contain no-repeat;
    z-index: 100;
    width: rem(196px);
    height: rem(264px);
    position: relative;
    position: absolute;
    right: 0;
    bottom: -610%;
  }
}

.video-section__box {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 0 auto;
}